<a href="https://colab.research.google.com/github/AKslugger/Basics/blob/main/practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

GOOGLE Q/A- i/p: [0,0,1,2] o/p:[1,3] #add one to last digit

In [ ]:
class Solution:
    def plusOne(self, a):
        i=len(a)-1
        carry=1
        while i>=0:
            if a[i]==9 and carry==1:
                a[i]=0
                carry=1
            else:
                a[i]=a[i]+carry
                carry=0
            i=i-1
        if carry==1:
            a=[1]+a
        while a[0]==0:
            a=a[1:]
        return a

AMAZON:Max steps to reach n stairs 
- at a time 1 or 2

In [ ]:
class Solution:
    def max_steps(self, A):
        steps=[0]*(A+1)
        steps[0]=0
        steps[1]=1
        steps[2]=2
        p=10**9+7
        for i in range(3,A+1):
            steps[i]=(steps[i-1]%p+steps[i-2]%p)%p
        return(steps[A])

In [ ]:
''' 999+1
    1000- need to creat anoter aray
    '''

SyntaxError: ignored

In [ ]:
help(dict)
a = "hello, world!"
print(a[5])

In [ ]:
a=8
b=51
c=2
c=(a^c)^c
print(c)
b=b%4
print(b)
d=a+b+c
print(d)

8
3
19

In [ ]:
x=2
y=1
z=5
a=(x and y) or (z+1)
print(a)

1

In [ ]:
while True:
  a=int(input("enter a"))
  b=int(input("enter b"))
  c=a+b
  print("ur ans is:",c)
  response=input("to continue enter Y/N:")
  if response=='N':
    break
  else:
    continue

In [ ]:
# Arnstrong Program
n=int(input()) 
s=0
temp=n
while(n>0):
  r=n%10
  s=s+r*r*r
  n=n//10
if(temp==s):
  print("arm")
else:
  print("not")

# New Section

# New Section

In [ ]:
'''
#total simple interest
i=0.07
mamount=pamount*(1+i*tenure)'''
'''
 #for display only simple interest amount
i=7       
mamount=(pamount*tenure*i)/100'''
i=0.07
while True:
  pamount=float(input("enter the amount"))
  tenure=int(input("enter the tenure of investement:"))
#for the compound interset 
  mamount=pamount*(1+i)**tenure
  print("mamount is:",mamount)
  res=input("do use cal again Y/N:")
  if res=='N':
    print("tq for using")
    break
  elif res=='Y':
    continue
  else:
    print("sorry we don't understand the calculater will continue")

In [ ]:
def funname(username): #functions to increse capability of a program and to decrese lines of code, 
  print("ur pet name is ",username)
petname=input("enter pet name")
funname(petname)

In [ ]:
len.__doc__ # ".__doc__" will be used to know description of what an inbuilt function wil do

In [ ]:
def userdetail():
  print("enter to my world ")
  name=input("enter ur name")
  email=input("enter email")
  return name,email    # not much imp
def investdetail():
  pamount=float(input("enter the amount"))
  tenure=int(input("enter the tenure of investement:"))
  return pamount,tenure
def mcalc(pamount,tenure):
  i=0.07
  mamount=pamount*(1+i)**tenure
  print("mamount is:",mamount)
while True:
  name,email=userdetail()
  pamount,tenure=investdetail()
  mcalc(pamount,tenure)
  res=input("do use calci again Y/N:")
  if res=='N':
    print("tq for using",name)
    break
  elif res=='Y':
    continue
  else:
    print("sorry we don't understand the calculater will continue")

In [ ]:
num=3
count=5
while count>0:
  gus=int(input("guess a nu"))
  if gus==num:
    print("super guess")
    break
  else:
    print("wrong guess")
  count=count-1

In [ ]:
a="AbCdEfGhIjKlMNOPQRSTUVWXyz"
a[0:-3:2]

'ACEGIKMOQSUW'

In [ ]:
a='abcdefgh'
print(a[:2])
a[3:]

ab

'defgh'

In [ ]:
def pattern(s,n):
  first=s[:n]
  second=s[n+1:]
  r=first+second
  return r
s=str(input('enter a string'))
n=int(input('enter the position of string u want to remove'))
print(pattern(s,n))

In [ ]:
# without using print statement
t=input()
p="%s something else"
p%t

AK_slugger

'AK_slugger something else'

In [ ]:
t="anjani"
p="%s something else"
p%("ak")

'ak something else'

t="anjani"
k="yes"
p="%s %s something else"
print(p)
p%(t,"kumar")

In [ ]:
for i in range(0.0,3.0):
  print(i)
# Can't iterate through float values

In [ ]:
for i in 'conduiar online'[10::-1]:
  print(i)

n
o

r
a
i
u
d
n
o
c

In [ ]:
x='hello'
for i in x:
  print(i.upper())

H
E
L
L
O

In [ ]:
str="condiuira"
for elem in str[0:8:2]:
  print(elem)

c
n
i
i

In [ ]:
lst= [10,20,30,40,50]
p=lst.pop()
print(lst)
for i in range (1,4):
  lst[i-1]=lst[i]
for i in range (0,4):
  print(lst[i],end=" ")

[10, 20, 30, 40]
20 30 40 40

In [ ]:
188<<1

376

In [ ]:
b = " hello, world! "
print(b[3:9])

In [ ]:
a = " hello, world! "
print(a.strip())

hello, world!

In [ ]:
a = " hello , world@ "
print (len(a))

In [ ]:
a = "HELLLLO @#,WORLD"
print (a.lower())

hellllo @#,world

In [ ]:
a = "hello world@##%$#"
print (a.upper())

HELLO WORLD@##%$#

In [ ]:
a = ", hello world"
print (a.replace("h","t"))

, tello world

In [ ]:
a = "hellotworld"
print (a.split("t"))

['hello', 'world']

In [ ]:
thislist = ["app","bat","cat"]
print (thislist)

In [ ]:
thislist = ["app","cat","pet"]
print (thislist[1])

cat

In [ ]:
thislist = ["a","b","c"]
thislist[1] ="d"
print (thislist)

In [ ]:
thislist = ["a","b","d"]
for x in thislist:
  print(x.upper())

A
B
D

In [ ]:
list = ["a","b","c"]
if "a" in list:
  print( "'a' is in list")

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)
# we can add a tuple to a list

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
a = ["a","b","c","c","s","q"]
print (len(a))

List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)
#thislist.sort(reverse = True)

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)
#thislist.sort(reverse = True)

[23, 50, 65, 82, 100]

In [ ]:
a = ["a","v","s"]
a.append("s")
print(a)

['a', 'v', 's', 's']

In [ ]:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [ ]:
#Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

In [ ]:
#ake a copy of a list with the list() method:

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)
# https://www.w3schools.com/python/python_lists_methods.asp

In [ ]:
'''There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered and unindexed. No duplicate members.
Dictionary is a collection which is ordered* and changeable. No duplicate members.
*As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.'''

In [ ]:
list = ["a","s","e","q"]
list.insert(2,"k")
print(list)

['a', 's', 'k', 'e', 'q']

In [ ]:
list = ["a","s","r"]
list.remove("s")
print(list)

In [ ]:
list = ["a","b","c"]
del list
print(list)

<class 'list'>

In [ ]:
list = ["a","b","c"]
list.clear()
print (list)

[]

In [ ]:
a = ("a","c","d")
print(a)

In [ ]:
#Once a tuple is created, you cannot add items to it.
#Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [ ]:
thistuple = ("a",)
print(thistuple)
# ordered, indexed, unchangeble, allow duplicates
#To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

('a', 's', 'x')

In [ ]:
thistuple = ("a","a","q") # can't be del or remove single but u can delete all or updated, only accesed
print(thistuple[2])        #u can concatenate tuples

#count()	Returns the number of times a specified value occurs in a tuple
#index()	Searches the tuple for a specified value and returns the position of where it was found

q

In [ ]:
#Unpaking
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

In [ ]:
tuple = ("a","x","z")
for tuplee in tuple:
  print(tuplee)

a
x
z

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)
x.symmetric_difference_update(y)

print(x)

#https://www.w3schools.com/python/python_sets_methods.asp

{'apple'}
{'cherry', 'microsoft', 'google', 'banana'}

In [ ]:
thisset = {"a","d","d"}
print("a" in thisset)

True

In [ ]:
stu=["ak",8,"t",20,"pk",10] #lists used here.
print(len(stu))
stu={"ak":9,"t":30,"pk":10} #dictonaries used here because its easier to access keys and members (can be deleted, but can't be updated)
stu["ak"]
print(len(stu))
del stu["pk"]

print(len(stu))

6
3
2

In [ ]:
tup=("tri")
tup*3

'tritritri'

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [ ]:
x = thisdict.keys()
print(x)
x = thisdict.values()
print(x)

dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])

In [ ]:
if 2>3:
  print("hello")
else :
  print("not true")
if 5==8:
  emoo
2==2

not true

True

In [ ]:
s=int(input())
if s>10:
  print("u r young")
elif s<=10 and s>0:
  print("child")
else:
  print("pakkakelli adukoomaa")

23
u r young

In [ ]:
mystr = "banana"

for x in mystr:
  print(x)

In [ ]:
for a in range(0,10):
  print(a)

In [ ]:
for i in range(5,51,5):
  print(i)

In [ ]:
c=0
while c<10:
   
  c=c+1 
  if c==5:

    continue
  elif c==7:
     #unless we give this it will enter into infinite condition   
    print(c)
    break

In [ ]:
name=int(input())
try:
  if name<3:
    print('ok')
except:
  print("there  some error check ur code please check") 

finally:
  print("executing done")

5
executing done

In [ ]:
def greet(name):
  print("hai "+name+" welcome!" )
def ak():
  print("he is a great man")

def add(n,m):
  return n + m
  print("program ends at return statement this print won't execute")
c=add(10,20)  

greet("Anjani") 
ak()
print(c)

he is a great man
hai Anjani welcome!
30

In [ ]:
#Create an iterator that returns numbers, starting with 1, and each sequence will increase by one (returning 1,2,3,4,5 etc.):

class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass= MyNumbers()   # creating the instance of a class (object)
myiter=iter(myclass)   # calling that object into myiter using iter

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

# formuch more explanation vist the "Python Tutor Website " then dump the code and observe

In [ ]:
# wecan itrerate through Lists,Sets<Tuples,Dict using the Iter and next,   without using the for loop
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration    # StopIteration is used to stop the iteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

In [ ]:
abs(25)  # output 25

abs(-35) #output 35

bool(0)     #output false

bool(1)    #output true

# A variable is only available from inside the region it is created. This is called scope.

True

In [ ]:
def abc(name):
  print("i'm ok "+ name)

In [ ]:
import module
module.abc("an")

ModuleNotFoundError: ignored

In [ ]:
sent="hello"
help(sent.upper) #this will also same execute only this nd see
help(sent.splitlines) # this is executing

Help on built-in function splitlines:

splitlines(keepends=False) method of builtins.str instance
    Return a list of the lines in the string, breaking at line boundaries.

    Line breaks are not included in the resulting list unless keepends is given and
    true.

In [ ]:
sent='print("NEVER GIVE UP")' # eval is used to execute the code in the called function
eval(sent)
eval("5+3")

NEVER GIVE UP

8

In [ ]:
a=1
str(a) #output is '1'
float(a) #output is 1.0
int(a)

1

In [ ]:
txt = 'It\"hai\"s alright.'
print(txt) 
# https://www.w3schools.com/python/python_strings_escape.asp
# https://www.w3schools.com/python/python_strings_methods.asp

It"hai"s alright.

In [ ]:
#Nested Dictionaries
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)
#https://www.w3schools.com/python/python_dictionaries_methods.asp

In [ ]:
s=input()
s.capitalize()

asdff

'Asdff'

In [ ]:
#If the number of arguments we are passing is unknown, add a * before the parameter name:

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

In [ ]:
#You can also send arguments with the key = value syntax.

#This way the order of the arguments does not matter.

#Example
def my_function(child3, child2, child1):   # when we don't know how many key,value arguments are passing then place "**kwargs"
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")


def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

The youngest child is Linus
His last name is Refsnes

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [ ]:
dir("hello") # dir tells what we can do with hello

In [ ]:
class person:
  def getname(abc):  #Objects can also contain methods. Methods in objects are functions that belong to the object.
    print("anjani kumar")
  def getage(ok):
    print("21")
p=person()  # declaring object 'p' , #Objects can also contain methods. Methods in objects are functions that belong to the object.
p.getname()  #calling method using the object
p.getage()

anjani kumar
21

In [ ]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def getname(self):
    print("your name is " + self.name)
  def getage(self):
    print("your age is " + self.age)
p1=person("Anjani Kumar","21")
p1.getage()
p1.getname()
#The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

#It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

your age is 21
your name is Anjani Kumar

In [ ]:
#inheritance--> extensibility and reusability
class parent:
  def __init__(self):
    print("this is a parent class")
  def parentfunc(self):
    print("this is a parent func")
  def test(self):
    print("parent")
p=parent()
p.parentfunc()
class child(parent):
  def __init__(self):
    print("this is the child class")
  def childfunc(self):
    print("this is the child func")
  def test(self):
    print("child")

c=child()
c.test() 
c.childfunc()
c.parentfunc()

this is a parent class
this is a parent func
this is the child class
child
this is the child func
this is a parent func

In [ ]:
n=5
for i in range(0,n):
  print('*',end='')

In [ ]:
 '''n=5
for i in range(0,n+1):
  print('*'*i,end='') 
  print() 
  or follow below'''

n=5
for i in range(0,n):
  for j in range(0,i+1):
    print('*',end='')
  print ()

In [ ]:
a=10
b=10.0
print(type(b))
type(a)

<class 'float'>

int

In [ ]:
print(hex(37)) #to convert a number into hex
print(oct(63)) #to converta number into octl
bin(43)         #to convert a number into binary

0x25
0o77

'0b101011'

In [ ]:
print(0x25)
print(0o77)  #--> it'll take upto 7 only if we give >=8 throws an error like: 0o85 and 0o95
0b101011 #--> it should be given in the binary format only

37
63

43

In [ ]:
print(complex(10,-3))
a=10
print(complex(a))
b=1
print(bool(4))  # other than 0 all will return True
c=0
print(bool(c))
print(bool(True))
print(bool(False))

(10-3j)
(10+0j)
True
False
True
False

In [ ]:
print(int(10))
print(int(10.0))
print(float(10))
print(float('10'))
print(int(True))

10
10
10.0
10.0
1

In [ ]:
n=int(input('enter the n value'))
for i in range(1,n+1):
  print('*'*(n+1-i))

enter the n value5
*****
****
***
**
*

In [ ]:
n=int(input('enter the n value'))
for i in range(1,n+1):
  print(' '*(n-i)+'* '*i)

enter the n value5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,n+1-i):
    print(' ',end='')
  for j in range(1,i+1):
    print(j,end='')
  print()

    1
   12
  123
 1234
12345

In [ ]:
n=5
for i in range(1,n+1):
  print(" "*(i-1),'*'*(n+1-i))

 *****
  ****
   ***
    **
     *

In [ ]:
n=5
for i in range(1,n+1):
  print('*'*(n+1-i),end='')
  print(' '*(2*(i-1)),end='')
  print('*'*(n+1-i))
        #OR
 #print('*'*(n+1-i)+' '*(2*(i-1))+'*'*(n+1-i))    
for i in range(1,n+1):
  print("*"*(i),end='')
  print(" "*(2*(n-i)),end='')  
  print("*"*(i))
        #OR
  #print("*"*(i)+" "*(2*(n-i))+"*"*(i))

**********
****  ****
***    ***
**      **
*        *
*        *
**      **
***    ***
****  ****
**********

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,n+1-i):
    print(' ',end='')
  for j in range(1,2*i):
    print(j,end='')
  print()

    1
   123
  12345
 1234567
123456789

In [ ]:
n=5
s=''
for i in range(1,n+1):
  s=s+str(i)
for i in range(n):
  d=''
  if i==0:
    #print(s)
    print(s[::-1])
  else:
    d=s[i:]
    print(i*" "+d[::-1])
    #print(i*" "+d)

54321
 5432
  543
   54
    5

In [ ]:
n=int(input())
for i in range(1,n+1):
  k=i
  for j in range(i):
    print(k,end='')
    k=k+1
  print()

5
1
23
345
4567
56789

In [ ]:
n=5
for i in range (1,n+1):
  for j in range(1,i):
    print(' ',end='') 
  for j in range(1,n+1-i):
    print(' ',j,end='')
  print()

n=6
for i in range(1,n+1):
  for j in range(1,i):
    print(' ',end='')
  for j in range(2*n-1,2*i,-1):
    print('*',end='')
  print()

  1  2  3  4
   1  2  3
    1  2
     1

*********
 *******
  *****
   ***
    *

In [ ]:
s=input('enter a sting')
for i in range(0,len(s)):
  for j in range(0,i+1):
    print(s[j],end='')
  print()

enter a stingabcdefgh
a
ab
abc
abcd
abcde
abcdef
abcdefg
abcdefgh

In [ ]:
s=input('enter a string')
for i in range(0,len(s)):
  for j in range(0,len(s)-i):
    print(s[j],end='')
  print()

In [ ]:
n=15
for i in range(0,n+1):
  if i%3==0 and i%5==0:
    print('fizz')
  elif i%5==0 and i%3!=0:
    print('buzz')
  elif i%3==0 and i%5==0:
    print('fizz buzz')
  else:
    print(i)

In [ ]:
#adding of numbers in a list
s=0
l=list(map(int,input().split(',')))
for i in l:
  s=s+i
print(s)

In [ ]:
n=5            #this code is used for summing of given numbers
l=[]
sum1=0
for i in range(1,n+1):
  l.append(int(input()))
print(l)
for i in l:
  sum1=sum1+i
print(sum1)

1
2
3
4
5
[1, 2, 3, 4, 5]
15

In [ ]:
#biggest value among three given numbers
a,b,c=map(int,input().split(','))
if a>b and a>c:
  print('biggest val a',a)
elif b>c:
  print('big is b',b)
else :
  print('c is big',c)

In [ ]:
# printing of table
n=int(input())
for i in range(1,11):
  print(n,'*',i,'=',n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#leap year
year=int(input('enter year'))
if year%400==0 and year%4==0:
  print('leap')
elif year%100!=0:
  print('leap')
else:
  print('non leap')

In [ ]:
y=int(input())
if y%4==0:
  print('leap')
else:
  print('not leap')

In [ ]:
# Reversing the words in a sentence
s='i love india'
l=s.split()          #this split is used to take the word as a one unit
k=len(l)
while k>0:
  print(l[k-1],end=' ')
  k=k-1

  #or
s=input()
ws=s.split()
for w in range(len(ws)):
  print(ws[len(ws)-w-1]," ",end='')

In [ ]:
# Reversing the words and also the letters in a sentence
s=str(input('enter a string'))
k=len(s)
while k>0:
  print(s[k-1][::-1],end='')
  k=k-1

enter a stringi love my india
aidni ym evol i

In [ ]:
import keyword
s='i love india123 45'
l1=[]
l2=[]
for i in s:
  if i isdigit:
    l1.append(i)
  else :
    l2.append(i)
for i in l1:
  print(i,end='')
print()
for j in l2:
  print(j,end='')

In [ ]:
class student:
  def __init__self(self):
    self.name='anjani'
    self.marks=100
  def about(self):
    print('name:',self.name)
    print('marks:',self.marks)
s=student()
s.about()

In [ ]:
class test:
  def __init__(self):
    self.a=10
    self.b=20
  def method1(self):
    res=self.a+self.b
    print('result:',res)
t=test()
t.method1()

In [ ]:
class test:
  def __init__(self,x,y):
    self.val1=x
    self.val2=y
  def method1(self):
    res=self.val1+self.val2
    print('res:',res)
a=int(input('enter x value:'))
b=int(input('enter y val:'))
t=test(a,b)
t.method1()

In [ ]:
class test:
  def __init__(self,x,y):
    self.val1=x
    self.val2=y
  def method1(self):
    self.val3=30
a=int(input('enter x value'))
b=int(input('enter y val'))
t=test(a,b)
t.method1()
print(t.__dict__)

In [ ]:
#program to read nd print list values, list func
l=set(map(int,input().split()))   #if dict is used it can't be updated so thrws error when it created it initialized with 0, if we insert some values to it we can't update
print(l)

In [ ]:
#pgm 2 print altrnate ele in list
l=list(map(int,input().split()))
for i in range(len(l)):
  if i%2!=0:
    print(l[i],end='')

In [ ]:
#write a program 2 incremt eachnd every value by one
l=list(map(int,input().split()))
for i in range(len(l)):
  print(l[i]+1,end='')

In [ ]:
#write a program to print count the -ve val
l=list(map(int,input().split()))
count=0
for i in range(len(l)):
  if l[i]<0:
    count=count+1
print(count)

In [ ]:
#write a program to print missing val in list
l=list(map(int,input().split()))
n=len(l)+1
s=n*(n+1)//2 #15
print(s-sum(l)) #15-14

In [ ]:
#n numb occurinng odd no, of times
l=list(map(int,input().split()))
res=0                                     # not understand question for me
for i in l:
  res=res^i
print(res)

In [ ]:
#write a pgm 2 pnt equvivalent from list
l=list(map(int,input().split()))
for i in l:
  if i%2==0:
    print(i,end='')

In [ ]:
#write a pgm 2 segregate ordered even values in list
l=list(map(int,input().split()))
j=0
for i in range(len(l)):
  if l[i]%2!=0:
    temp=l[i]
    l[i]=l[j]
    l[j]=temp
    j+=1
print(l)

In [ ]:
#write a pgm 2 print leaders of alist
l=list(map(int,input().split()))
print(l[-1],end='')
mx=l[-1]
for i in range(len(l)-2,-1,-1):
  if l[i]>mx:
    mx=l[i]
    print(l[i],end='')

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if i==1 or j==1 or i==4 or j==4:
      print("*",end='')
    else:
      print(" ",end='')
  print()

for i in range(1,6):
  for j in range(1,6):
    if j%2==0:
      print('1',end='')
    else:
      print('0',end='')
  print()

r,c=map(int,input().split())
count=0
for i in range(1,r+1):
  for j in range(1,c+1):
    if i==(r+1)//2 or j==(c+1)//2:    # if j==1 or j==c or i==j or i+j==r+1:   #if i==j or i+j==r+1:  #if count%2==0:
      print('*',end='')
    else:
      print(' ',end='')
    count=1
  print()

In [ ]:
r,c=map(int,input().split())
for i in range(1,r+1):
  for j in range(1,c+1):
    if (i==1 or i==r) and (j==1 or j==c):
      print(' ',end='')
    elif i==1 or i==j or i+j==c+1 or j==1 or i==r or j==c:
      print('1',end='')
    else:
       print(' ',end='')
  print()

In [ ]:
r,c=map(int,input().split())
for i in range(1,r+1):
  count=i
  for j in range(1,c+1):
    print(count,end='')
    count+=1
  print()

r,c=map(int,input().split())
for i in range(1,(r//2)+2):
  for j in range(1,c+1):
    if i==j or i+j==r+1:
      print(i,end='')
    else:
      print(' ',end='')
  print()
for i in range((r//2),0,-1):
  for j in range(1,c+1):
    if i==j or i+j==r+1:
      print(i,end='')
    else:
      print(' ',end='') 
  print()

In [ ]:
#pgm to print min no of deletions to make arary equ
l=[4,4,3,2,4]
mx=0
for i in range(len(l)):
  if l.count(l[i])>mx:
   # print(l.count(l[i]))
    mx=l.count(l[i])
print(len(l)-mx)

In [ ]:
l=[4,2,3,5,6,7]
d={}
for i in range(len(l)):
  if l[i] not in d.keys():
    d[l[i]]=1
  else:
    d[l[i]]+=1
mx=0
for i,j in d.items():
  mx=max(mx,j)
print(len(l)-mx)

# pgm to count frequncy of numbers



l=[4,2,3,4,4,4]
d={}
for i in range(len(l)):
  if l[i] not in d.keys():
    d[l[i]]=1
  else:
    d[l[i]]+=1
for i,j in d.items():
  print(i,j)

#printing of distinct values in list

'''for i,j in d.items():
  if j>=1:
    print(i,end='')'''

#printing unique values in list

'''for i,j in d.items():
  if j==1:
    print(i,end='')'''
#printing duplicate values in list
'''for i,j in d.items():
     if j>1:
       print(i,end='')'''

#pgm to count frq of characters
s=input()
freq=[0]*256
for i in s:
  freq[ord(i)]+=1
for i in range(256):
  if freq[i]!=0:
    print(chr(i),freq[i])

In [ ]:
#rotation of values
l=[1,2,3,4,5]
r=int(input())
if r==0:
  print(l)
r=r%len(l)
print(r)
print(l[r:]+l[:r])

#pgm 2 print min no. of sorts req for array
def minswaps(arr,n):
  temp=arr.copy()
  temp.sort()
  count=0
  for i in range(len(arr)):
    if arr[i]!=temp[i]:
      count+=1
      swap(arr,i,arr.index(temp[i]))
  return count
def swap(arr,i,j):
  temp=arr[i]
  arr[i]=arr[j]
  arr[j]=temp
l=[5,1,6,8,4]
n=len(l)
print(minswaps(l,n))

In [ ]:
#pgm to print last occurance of ele index
l=[4,5,2,5,2,4]
ele=int(input())
index=-1
for i in range(len(l)):
  if l[i]==ele:
    index=i
print(index)
'''
#pgm 2 print separate 0's and nonzeros
l1=[]
l2=[]
l=[1,0,2,0,3,0]
for i in range(len(l)):
  if l[i]==0:
    l1.append=l[i]
  else:                               # there wan an error in this program
    l2.append=l[i]
print(l1+l2)
'''     #or
l=[1,0,1,0,1,2,1,0]
j=0
for i in range(len(l)):
  if l[i]!=0:
    l[j]=l[i]
    j+=1
for i in range(j,len(l)):
  l[i]=0
print(l)

In [ ]:
#pgm 2 print last ocuurance of a number
l=[4,5,2,3,5,4]
ele=int(input())
index=-1
for i in range(len(l)):
  if l[i]==ele:
    index=i
print(index)

#write a pgm to prnt maxima contagous separta sum
import sys
l=[-3,-2,-32767]
mx=-sys.maxsize-1
s=0
for i in range(len(l)):
  s+=l[i]
  if mx<s:
    mx=s
  if s<0:
    s=0
print(mx)

# pgm 2 print a value formed by summing of other givven numbers
l=[9,4,20,3,10,5]
k=23
count=0                                 # this program is used to check and add in sequential form only
for i in range(len(l)):
  s=0
  for j in range(i,len(l)):
    s+=l[j]
    if s==k:
      count+=1
print(count)

# pgm to add every digit in a list
l=[25,3,42]
for i in range(len(l)):
  s=0
  while l[i]:
    s+=l[i]%10
    l[i]=l[i]//10
  print(s,end='')

#print max val of 2-D array
print()
l=[[4,6,5],[9,6,2],[56,20,199]]
mx=l[0][0]
for i in range(len(l)):
  for j in range(len(l[i])):
    if l[i][j]>mx:
      mx=l[i][j]
  print(mx)

In [ ]:
#pgm to print row no. having max no. of zeros
l=[[1,1,1,1],[1,0,1,0,1],[1,0,0,0]]
mx=0
count=0
for i in range(len(l)):
  for j in range(len(l[i])):
    if l[i][j]==0:
      count+=1
    if count>mx:
      mx=count
      row=i+1
print(row)

#pgm 2 check wheter the 2 matrices are identical or not
l1=[[1,2,3],[4,5,6]]
l2=[[1,2,3],[4,5,6]]
flag=1
for i in range(len(l1)):
  for j in range(len(l2)):
    if l1[i][j]!=l2[i][j]:
      flag=0
if flag==1:
  print("identical")
else:
  print("not identical")

In [ ]:
#spiral matrix
a=[.]
print('ente the row size m and col size n')
m,n=map(int,input().split())
for i in range(0,m):
  for j in range(0,n):
    print('enter i , j values')
    a[i][j]
k=0 # row pointer
l=0 # column pointer
m=3 # no. of rows
n=4 # no. of col
while k<m and l<n:
  for i in range(l,n):
    print(a[k][i],end='')
  k+=1
  for i in range(k,m):
    print(a[i][n-1])
  n-=1 #n=3
  if k<m:
    for i in range(n-1,l-1,-1):
      print(a[m-1][i],end='')
    m-=1
  if l<n:
    for i in range(m-1,k-1,-1):
      print(a[i][1],end=' ')
    l+=1

In [ ]:
#hallow triangle
'''r,c=map(int,input().split())
for i in range(r):
  for j in range(i+1):
    if j==0 or i==r-1 or i==j:
      print("*",end='')
    else:
      print(" ",end='')
  print()
-------------------
for i in range(1,r+1):
  for j in range(1,i+1):
    print(i*j,end='')
  print()

--------------------

#2 add odd values nd subtract even values
l=map(int,input().split())
od=0
ev=0
for i in l:
  if i%2==0:
    ev+=i
  else:
    od+=i
print(od-ev)'''


#pgm to print pairs from a list equal to given number
l=[1,2,3,4,5]
s=int(input('enter a no to search'))
count=0
for i in range(len(l)):
  for j in range(i+1,len(l)):
    if l[i]+l[j]==s:
      print(l[i],l[j])

In [ ]:
'''#generate all ythagorean triplets with values smaller than given values
limit=int(input())
for i in range(3,limit+1):
  for j in range(i+1,limit+1):
    for k in range(j+1,limit+1):
      if i**2+j**2==k**2:
        print(i,j,k)

#condition check i>j>k
l=list(map(int,input().split()))
count=0
for i in range(len(l)-2):
  for j in range(i+1,len(l)-1):
    for k in range(j+1,len(l)):
      if l[j]-l[i]==l[k]-l[j]:
        count+=1
print(count)

#pgm 2 print freq of char
s=input()
freq=[0]*256
for i in s:
  freq[ord(i)]+=1
for i in range(256):
  if freq[i]!=0:
    print(chr(i),freq[i])

#reversed useing key words
s=input()
w=s.split()
nw=' '.join(reversed(w))
print(nw)  
'''
#pgm to remove char expect alphabets
string=input()
s=''
for i in string:
  if i.isalpha():
    s+=i
print(s)


#to find substrings ina strings
string=input()
substring=input()
count=0
for i in range(len(string)):
  if string[i]==substring[0]:
    if string[i:(i+len(substring))]==substring:
      count+=1
print(count)

In [ ]:
#string rotation

In [ ]:
import spacy
from spacy import displacy
nlp=spacy.load("en_core_web_sm")
doc=nlp("this is a sentence.")
displacy.serve(doc, style="dep")

In [ ]:
import spacy
from spacy import displacy

nlp = spacy.load("en_core_web_sm")
text = """In ancient Rome, some neighbors live in three adjacent houses. In the center is the house of Senex, who lives there with wife Domina, son Hero, and several slaves, including head slave Hysterium and the musical's main character Pseudolus. A slave belonging to Hero, Pseudolus wishes to buy, win, or steal his freedom. One of the neighboring houses is owned by Marcus Lycus, who is a buyer and seller of beautiful women; the other belongs to the ancient Erronius, who is abroad searching for his long-lost children (stolen in infancy by pirates). One day, Senex and Domina go on a trip and leave Pseudolus in charge of Hero. Hero confides in Pseudolus that he is in love with the lovely Philia, one of the courtesans in the House of Lycus (albeit still a virgin)."""
doc = nlp(text)
sentence_spans = list(doc.sents)
displacy.serve(sentence_spans, style="dep")

In [ ]:
colors = {"ORG": "linear-gradient(90deg, #aa9cfc, #fc9ce7)"}
options = {"ents": ["ORG"], "colors": colors}
displacy.serve(doc, style="ent", options=options)

In [ ]:
a="i am an indian"
s=a.split()

for j in range(len(s),0,-1):
  print(s[j-1]+" ",end="")
b=input("enter a str")
k=len(b)
while k>0:
  print(b[k-1][::-1],end='')
  k=k-1

4
indian an am i enter a stri am ok
ko ma i

In [ ]:
z='''Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!'''

In [ ]:
z.splitlines()

In [ ]:
zn=z.replace("."," ")
w=zn.split()

In [ ]:
w.count('idea')

In [ ]:
a=1.00200
float(a)
print('%.1f'%a)
print('{0:.2f}'.format(a))
print(round(a,3))

In [ ]:
a=int(False)
print(a)

0

In [ ]:
'''n=int(input('enter a value'))
for i in range(n,0,-1):
  print(' '+'*'*i)
  
n=int(input('enter a value'))
for i in range(1,n+1):
  print('*'*(n+1-i))

n=int(input('enter a value'))
for i in range(n,0,-1):
  print('*'*(i))

n=int(input('enter a value'))
for j in range(1,n+1):
  print(' '*(n+1-j)+'*'*j)
#n=int(input('enter a value'))
for i in range(1,n+1):
  print(' '*(i-1)+'* '*(n+1-i))

for i in range(n):
  for j in range(i+1,n*2):
    print(j,end='')
  print()

#IMportant Euni mart

n=int(input("enter th evalu"))
k=0
for i in range(1,n+1):
  
  for j in range(1,i+1):
    k=i-1
    print(k+j,end='')
    
    
  print()'''

enter th evalu5
1
23
345
4567
56789

In [ ]:
'''
n=int(input("enter th evalu"))
for i in range(0,n):
  print(" "*i,end='')
  for j in range(n,0-i):
    
    print(j,end='') 
  print()'''



n=(int(input('enter tvalue'))
for i in range(1,n):
  for j in range(n-1,i-1,-1):

    print(j,end='')
  print()

SyntaxError: ignored

In [ ]:
n=int(input('enter a value'))
k=1
for i in range(1,n+1):

  print(' '*(n-i+1)+'*'*i+' ',end='')
  for j in range(1,i+1):
    k=i-1
    print(k+j,end='')
  print()


''' for i in range(k,i+k):
    print(i,end='')
    k=k+1



for i in range(1,n+1):
  for j in range(1,i):
    print(' ',end='')
  for j in range(2*n-1,2*i,-1):
    print('*',end='')
  print()'''

enter a value3
   * 1
  ** 23
 *** 345

" for i in range(k,i+k):\n    print(i,end='')\n    k=k+1\n\n\n\nfor i in range(1,n+1):\n  for j in range(1,i):\n    print(' ',end='')\n  for j in range(2*n-1,2*i,-1):\n    print('*',end='')\n  print()"

In [ ]:
k=0
n=int(input('enter n:'))
for i in range(n,0,-1):
  print('*'*i+' '*k+'*'*i)
  k=k+2
for j in range(1,n+1):
  k=k-2
  print('*'*j+' '*k+'*'*j)

enter n:5
**********
****  ****
***    ***
**      **
*        *
*        *
**      **
***    ***
****  ****
**********

In [ ]:
s=input('enter a string')
print(s[::-1])

In [ ]:
s=0
l=list(map(int,input().split(',')))
for i in l:
  s=s+i
print(s)

In [ ]:
l=[]
k=0
n=int(input('enter size'))
for i in range(1,n+1):
  l.append(int(input()))
print('the values are',l)
for j in l:
  k=k+j
print(k)

In [ ]:
#to reverse a string
s=input("enter the string")
l=s.split()
k=len(l)
while(k>0):
  print(l[k-1],end=' ')
  k=k-1
#to reverse the letters in a word of a string
s=input('enter the string')
l=s.split()
k=len(l)
for i in range (0,k):
  print(l[i][::-1],end=' ')

In [ ]:
'''def p(s,n):
  first=s[:n]
  second=s[n+1:]
  return first+second
s=input('enter')
n=int(input('enter no.'))
print(p(s,n))
'''
s=input('enter str')
l1=[],l2=[]
for i in s:
  if i isdigit():
    l1.append[i]
  else:
    l2.append[i]
print(l1+" "+l2)

In [ ]:
tup=("1",'two',155.5,False,True,'abc')
print(tup[:-4:-1])
print(tup[:])
print(tup[::2])
print(tup[::-2])
print(tup[-1:-4])

In [ ]:
l=[('a','b','c'),('d','e','f'),('g','h','i')]
print([t[:-1]+('z',) for t in l ])

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
y=np.array([10,30,40,50])
plt.pie(y)
plt.show()
#plots by comparing all the values with formula X/sum(all X)

In [ ]:
mylab=('am','ak','aj','as') #labels musttt be as of declared things or elements
plt.pie(y,labels=mylab)
plt.show()


#pie chart is defind by angles staring from clock wise direction
#0,90,180,270,---As mentioned the default start angle is at the x-axis, but you can change the start angle by specifying a startangle parameter.

#The startangle parameter is defined with an angle in degrees, default angle is 0:

In [ ]:
plt.pie(y,labels=mylab,startangle=90)
plt.show()

In [ ]:
'''
Maybe you want one of the wedges to stand out? The explode parameter allows you to do that.

The explode parameter, if specified, and not None, must be an array with one value for each wedge'''
myexplode=[0.2,0,0,0.4]
plt.pie(y,labels=mylab,startangle=90,explode=myexplode)
plt.show()

In [ ]:
plt.pie(y,labels=mylab,startangle=90,explode=myexplode,shadow=True) #to give shadow
plt.show()

In [ ]:
mycolors = ["black", "hotpink", "b","r"]
plt.pie(y,labels=mylab,startangle=90,explode=myexplode,shadow=True,colors=mycolors)
plt.legend(title='four types')
plt.show()

In [ ]:
#Create an array with data type string:
import numpy as np

arr = np.array([1, 2, 3, 4], dtype='S')

print(arr)
print(arr.dtype)

In [ ]:
#create a data types woth aray 4 bytes(8*4=32bits) int
arr=np.array([1,2,3,4],dtype='i4')
print(arr)
print(arr[0].dtype)

In [ ]:
'''The astype() function creates a copy of the array, and allows you to specify the data type as a parameter.

The data type can be specified using a string, like 'f' for float, 'i' for integer etc. or you can use the data type directly like float for float and int for integer.'''
arr = np.array([1.1, 2.1, 3.1])
print(arr.dtype)
newarr = arr.astype('i')  # or 'int'

print(newarr)
print(newarr.dtype)
print(float)

In [ ]:
#input:  8
#        9 1 8 2 7 3 4 6
#        3     first three numbers must be in increasing oredr remiaining in decresing order
#output: 1 8 9 7 6 4 3 2 


s=int(input())
l=list(map(int,input().split()))
p=int(input())
k=[]
m=[]
for i in range(p):
  k.append(l[i])
k.sort()
print(k)
for i in range(p,s):
  m.append(l[i])
m.sort(reverse=True)
for i in m:
  k.append(i)
for i in k:
  print(i,end=' ')

8
9 1 8 2 7 3 4 6
3
[1, 8, 9]
1 8 9 7 6 4 3 2

In [ ]:
#input :  5                 finding the given numbers is in range or not
#         10 20 30 40 50
#         20               range 
#         50               giving
# output: 20 30 40 50



s=int(input())
l=list(map(int,input().split()))
t=len(l)
a=int(input())
b=int(input())
k=[]
for i in range(t):
  k.append(l[i])
  if k[i]  in range(a,b+1):

    print(k[i],end=' ')

5
10 20 30 40 50
20
50
20 30 40 50

In [ ]:
# input : 10
#         1 1 1 2 3 4 5 6 7 8
#         8                       COUnting the number of numbers that are not 
#         1 8 9 10 5 6 35 85      common in both the sets
# output : 8




s=int(input())
l=set(map(int,input().split()))
s1=int(input())
l1=set(map(int,input().split()))
a=l-l1
c=len(a)
b=l1-l
d=len(b)
e=c+d
print(e)

10
1 1 1 2 3 4 5 6 7 8
8
1 8 9 10 5 6 35 85
8